@charset "utf-8";

body{
    color: white;
    background-image: url(imagem/degrade2.jpg);
    font-family: 'noto serif HK', serif;
}
a{
    color: white;
    text-decoration: none;
}
main nav ul a{
    display: inline-block;
    background-color: #5BBE42;
    width: 200px;
    height: 200px;
    text-align: center;  
}
 nav ul ul{
    position: relative;
    top: -130px
 }
 
main ul li a:hover{
    background-color: #5bbe4267;
    transition: 1s;
    display: block;
}
main nav li li{
    display: none;
}
.container nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    padding: 16px;

}
.container{
    margin: 20px;
    padding: 20px 100px;  
}
