@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --cor-cinza: rgb(90, 88, 88);
    --cor-branca: rgb(255, 255, 255);
    --cor-preto: rgb(0, 0, 0);
    --cor-verde: rgb(0, 223, 192);
}
body{
    background-color: var(--cor-cinza);
    /* width: 920px; */
    height: auto;
    margin: auto;
}
header{
   margin-bottom: 100px;
}
.menu{
    position: absolute;
    right: 110px;
    top: 30px;
    font-size: 20px;
    list-style-type: none;
}
li{
    /* background-color: rgb(104, 104, 104); */
    color: var(--cor-branca);    
    display: inline-block;
    margin: 0 10px;
}
a{
    margin: 0 20px;
    text-decoration: none;
    color: var(--cor-branca); 
}
a:hover{
    color: var(--cor-verde);
    transition: 0.5s;
}
h2{
    font-size: 20px;
    position: absolute;
    left: 80px;
    top: 30px;
    color: var(--cor-verde);
}
.resumo{
    position:absolute;
    top: 200px;
    width: 500px;
    height: 200px;
    left: 100px;
    color: var(--cor-branca);
}
img{
    width: 500px;
    height: 500px;
}
figure{
    position: absolute;
    right: 110px;
}
.resumofoto{
    height: 500px;
   
}

