@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --cor-cinza: rgb(90, 88, 88);
    --cor-branca: rgb(255, 255, 255);
    --cor-preto: rgb(0, 0, 0);
    --cor-verde: rgb(0, 223, 192);
}
body{
    background-color: var(--cor-cinza);
    /* width: 920px; */
    height: auto;
    margin: auto;
}
header{
   margin-bottom: 100px;
}
.menu{
    position: absolute;
    right: 110px;
    top: 30px;
    font-size: 20px;
    list-style-type: none;
}
li{
    /* background-color: rgb(104, 104, 104); */
    color: var(--cor-branca);    
    display: inline-block;
    margin: 0 10px;
}
a{
    margin: 0 20px;
    text-decoration: none;
    color: var(--cor-branca); 
}
a:hover{
    color: var(--cor-verde);
    transition: 0.5s;
}
h2{
    font-size: 20px;
    position: absolute;
    left: 80px;
    top: 30px;
    color: var(--cor-verde);
}
.resumo{
    position:absolute;
    top: 200px;
    width: 500px;
    height: 200px;
    left: 150px;
    color: var(--cor-branca);
}
div p{
    margin: 5px;
}
#curriculoposition{
    /* background-color: black; */
    margin-top: 30px;
    position: absolute;
    left: -20px;
}
#downcurriculo{
    padding: 10px 25px;
    color: var(--cor-verde);
    border: 2px solid var(--cor-verde);
}
#downcurriculo:hover{
    color: var(--cor-branca);
    background-color: var(--cor-verde);
}
img{
    width: 500px;
    height: 500px;
}
main figure{
    position: absolute;
    right: 140px;
}
.resumofoto{
    height: 500px;
}
main{
    height: 600px;
}
#fotoperfil{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 120px;
    border: 4px solid var(--cor-verde);
    border-radius: 50%;
    padding: 5px;
}
aside{
    position: absolute;
    left: 80px;
    width: 500px;
    height: 200px;
}
aside p{
    position: relative;
    left: 155px;
    top: 220px;
    color: var(--cor-branca);
}
.sobre{
    /* background-color: black; */
    color: var(--cor-branca);
    font-size: 20px;
    position: absolute;
    top: 720px;
    right: 200px;
    width: 550px;
}
div h2{
    font-size: 25px;
    position: relative;
    top: -50px;
    left: 0;
}
div h3{
    font-size: 20px;
}

