@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#menu{
    float: right;
    height: 35px;
    width: 100%;
    text-align: end;
    max-width: 980px;
    line-height: 35px;
    font-size: 20px;
    margin-top: 20px;
}

#meunometop{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 20px;
    margin-top: 2px;
}
#descricaocurriculo{
    
}

body{
    font-family: 'Inconsolata', monospace;
    max-width: 980px;
    margin: auto;
    background-color: rgb(39, 38, 38);
}
header{
    width: 100%;
    height: auto;
}
header a{
    font-size: bolder;
    text-decoration: none;
    padding: 5px 15px;
    color: white;
    border-radius: 20%;

}
header a:hover{
    font-size: bolder;
    color: black;
    background-color: white;
    transition: .6s
}